
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .todo-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .todo-text {
    flex-grow: 1;
    font-size: 16px;
    color: #343a40;
  }
  
  .actions-container {
    display: flex;
    gap: 10px;
  }
  
  .actions-container button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-button {
    color: rgb(245, 64, 64);
  }
  
  .edit-button:hover {
    background-color: #f9daad;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: rgb(39, 52, 227);
  }
  
  .delete-button:hover {
    background-color: #b8d8eb;
  }
  